<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.9vz.vm</string>
	<key>CFBundleName</key>
	<string>9vz</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>9vz needs microphone access for guest audio capture.</string>
</dict>
</plist>
